 .text-size-h1 {
    font-size: 50px
 }

 .font-link {
    font-size: 20px;
    
}

 .bg-body-grey {
    background-color: #e6e6e6;
 }

 .bg-aside-h3 {
    background-color: #e6e6e6;
 }
 .bg-aside-2-h3 {
    background-color: #e6e6e6;
 }

 .footer-font {
    font-style: italic;
 }

 .text-1 {
    text-align: justify;
 }